.navbar {
    background-color: rgb(39, 41, 38);
    padding: 15px;
    text-align: left;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: underline;
}

.label{
    margin-top: 30px; 
    text-align: center;
    color: aliceblue;
    
}

.label a{
    text-decoration: none;
    color: bisque;
}

.label-1{
    margin-top: 30px;
    text-align: center;
    color: bisque;
}

body{
    background-color: gray;
}

.code-box {
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    overflow-x: auto;
    border: 1px solid #444;
    margin: 20px;
}

.css-box{
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    overflow-x: auto;
    border: 1px solid #444;
    margin: 20px;
}

.code-box {
  position: relative; 
}

.copy-html {
  position: absolute;
  top: 12px;
  right: 12px;

  padding: 6px 12px;
  font-size: 13px;
  color: #fff;
  background-color: #1e1e1e;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  /* 3D efekt */
  box-shadow: 0 3px 0 #1e1e1e;
  transition: transform .1s, box-shadow .1s;
}

/* 3) Basılınca içeri çökme */
.copy-html:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 #1e1e1e;
}

.css-box{
    position: relative;
}

.copy-css{
    position: absolute;
    top: 12px;
    right: 12px;

    padding: 6px 12px;
    font-size: 13px;
    color: #fff;
    background-color: #1e1e1e;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    /* 3D efekt */
    box-shadow: 0 3px 0 #1e1e1e;
    transition: transform .1s, box-shadow .1s;
}

.copy-css:active{
    transform: translateY(2px);
    box-shadow: 0 1px 0 #1e1e1e;
}

.html-label{
    text-align: center;
    color: bisque;
}
.css-label{
    text-align: center;
    color: bisque;
}

.links a {
    color: bisque;
    text-decoration: none;
    
}

.links h3{
    font-size: 20px;
    color: lightblue;
    text-align: center;
    transition: transform 0.5s;
}

.links:hover{
    color: rgb(51, 50, 46);
    text-shadow: 2px 2px 5px black;
    transform: scale(1.1);
}
